/*
Config files used in the Nextflow pipeline build to correct reads. The pipeline
is based on the process decribe by Abhislash Kanan
(see : ../AK_Tuto_Transcriptomic/20200409_Session1/20200306-AK_Sinergia_RNAseq_commandline_1.pdf and
../AK_Tuto_Transcriptomic/20200409_Session1/20200409_AK_Tuto_Session1_CommandLines.md)
and must be run with the 20200409_AK_Tuto_Session1_ReadCorrection_0.nf pipeline.

The file contains all variable necessary to run the Pipeline.
*/
process.executor = 'local'
// process.memory = '4GB'
process.conda = "$baseDir/20200419-Conda_env_BioInf.yaml"
// pipeline parameters
// executor {
//   name = 'local'
//   cpus = 4
//   memory = 8.GB
// }


Rm_rRNA {
  Ref_Databases_Name= ["rfam-5s-database-id98.fasta" , "silva-arc-16s-id95.fasta" ,"silva-arc-23s-id98.fasta" ,"silva-bac-16s-id90.fasta" , "silva-bac-23s-id98.fasta" , "silva-euk-18s-id95.fasta" , "silva-euk-28s-id98.fasta"]
  DB_File_Path="https://raw.githubusercontent.com/biocore/sortmerna/master/data/rRNA_databases/"
  // DB_Index_Path= "/home/eduranda/Documents/SwitchDrive/CHUV/Sanglard/Data/Sequencing/Databases/SortmeRNA/DB_Index"
  DB_Index_Path= "/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/Databases/SortmeRNA/DB_Index"
  num_alignments= 1
  // kvdb = "$baseDir/SortmeRNA"
}
Clumpify_Var {
  // reorder reads by similarity
  zl = 4 //compression level for the
  reorder = "a" //Reorder clumps for additional compression.  Only valid when groups=1, passes=1, and ecc=f.   f:  Do not reorder clumps. c:  Reorder using consensus reads.  Uses additional time and memory. p:  Reorder using pair information.  Requires paired reads.  Yields the highest compression. a:  Automatically choose between 'c' and 'p'.  The flag reorder with no argument will set 'reorder=a'.
}
ArtifactFilter{
  ow="t"
  k=20
  zl=6
  hdist=1
  // ref = "/home/eduranda/Documents/SwitchDrive/CHUV/Sanglard/Data/Sequencing/Databases/BBmap/sequencing_artifacts.fa.gz"
  ref = "/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/Databases/BBmap/sequencing_artifacts.fa.gz"

}
// remove portion of sequences with bad quality
QFilter {
  maq = 20
  trimq = 20
  qtrim = "rl"
  maxns = 1
  minlen= 50
  minlenfraction = 0.33
  k = 25
  cf = "t"
  // ref = "/home/eduranda/Documents/SwitchDrive/CHUV/Sanglard/Data/Sequencing/Databases/BBmap/sequencing_artifacts.fa.gz"
  ref = "/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/Databases/BBmap/sequencing_artifacts.fa.gz"
}

Rm_Adaptor {
  ktrim = "r" // right trimming
  minlen = 50 // min readl lenght size leading to keep
  minlenfraction = 0.33 // keep reads that are at least 0.33 * original size
  mink = 11 // lenght of shortest kmers to use to identify  kmer as matching the reference
  k = 23 //kmer length
  hdist = 1 //hamming distance of 1, used to identify kmers as matching 'ref'
  hdist2 = 1 //hamming distance of 1 for short kmers
  ow = "t"
  ftm = 5 // right trim length to be equal to module 'ftm'
  zl= 4 // zip level (gzip)
  ref = 'https://raw.githubusercontent.com/BioInfoTools/BBMap/master/resources/adapters.fa'
}

Conta_Removal{
  k = 31
  hdist = 1
  ref="https://github.com/BioInfoTools/BBMap/blob/master/resources/phix174_ill.ref.fa.gz?raw=true" //here we need to specify a specific file. We need the phix174_ill reference and we do not know if specifying "phix" will indeed target to the illumina phyx spike file.  wget https://github.com/BioInfoTools/BBMap/blob/master/resources/phix174_ill.ref.fa.gz?raw=true -O phix174_ill.ref.fa.gz

}

Complexity_Fitering{
  entropy=0.7
}

Hisat2 {
  ReferenceGenome_Web="http://www.candidagenome.org/download/sequence/C_albicans_SC5314/Assembly22/current/C_albicans_SC5314_A22_current_chromosomes.fasta.gz"
  max_intronlen=[100,100,500000,500000]
  // ReferenceGenome_Index="/home/eduranda/Documents/SwitchDrive/CHUV/Sanglard/Sequencing/Data/candida_ref/setA/Hisat_Idx"ReferenceGenome_Index="/home/eduranda/Documents/SwitchDrive/CHUV/Sanglard/Sequencing/Data/candida_ref/setA/Hisat_Idx"
  // ReferenceGenome_Index="/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/C_albicans/setA/Hisat_Idx"
  FolderIndx="/media/edurandau/DATA/Eric_Durandau/Sanglard/Labbook/Workbench/Bioinformatics/ANAPURRNA-seq/HiSAT2_Idx"
  GenomeID=["Ca", "Cg", "Mm","Hs"]
  GenomeFASTAweb=["/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/C_albicans/setA/C_albicans_SC5314_A22_current_chromosomes_A.fasta.gz",
    "/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/C_glabrata/DSY562_genome/DSY562_corrected_genome_03042017_J.fasta.gz",
    "/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/M_musculus/GCF_000001635.26_GRCm38.p6_genomic.fna.gz",
    "ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/annotation/GRCh38_latest/refseq_identifiers/GRCh38_latest_genomic.fna.gz"]
}

featureCounts_Var {
  Web_Features_File= ["http://www.candidagenome.org/download/gff/C_albicans_SC5314/Assembly22/C_albicans_SC5314_A22_current_features.gff",
    "/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/C_glabrata/DSY562_genome/DSY562_corrected_genome_03042017_J.gff",
    "/media/edurandau/DATA/Eric_Durandau/Sanglard/Data/Sequencing/M_musculus/GCF_000001635.26_GRCm38.p6_genomic.gff.gz",
    "ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/annotation/GRCh38_latest/refseq_identifiers/GRCh38_latest_genomic.gff.gz"]
  // Web_Features_File= "/home/eduranda/Documents/SwitchDrive/CHUV/Sanglard_1/Data/candida_ref/setA/C_albicans_SC5314_A22_current_chromosomes_A.gff"
  F ="GFF"
  t = "gene"
  g = ["ID","locus_tag","ID","ID"]
  extraAttributes = "Name,Gene,Note,gene,note,description,product,Dbxref"
  Q= 20

}

params {
  // Generale pipeline Variables
  work_dir = "$PWD"
  Input_Files = "${params.work_dir}/*.fastq*"
  Output_dir = "${params.work_dir}/CorrectedReads"
  Pattern_getSampleName_NoReplicate=/(.+)_L\d+_R\d+_.+/ //must be a regex pattern between two "/"
  // Process variables. Connect defined Process variable to the generale variables
  ClumpVar = Clumpify_Var
  Rm_Adaptor = Rm_Adaptor
  QFilter = QFilter
  ArtifactFilter=ArtifactFilter
  BBmap_RefPath= "../../conda/BioInfo-*/opt/bbmap-*/resources"
  Conta_Removal = Conta_Removal
  Complex_Filter=Complexity_Fitering
  Rm_rRNA=Rm_rRNA
  Hisat2=Hisat2
  featureCounts_Var=featureCounts_Var
  Species=["Ca", "Hs"]
  // Species=["Cg","Mm"]
}
